## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
* Write markdown
* Write differente title levels
* Write comments in the code.
* Do a arithmetic operation.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Java

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. SckitLearn
4. Pytorch

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| VS Code           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author

David Fernández Martínez